<div id="body">


<div class="row row-tabs">
  <div class="col-sm-10">
    <ul class="nav nav-tabs">
      <li ng-repeat="alerta in vm.alertas" ng-class="alerta.actual?'active':''" ng-click="vm.cambiarAlerta($index)" style="cursor:pointer">
        <a><span class="glyphicon glyphicon-alert" ng-class="alerta.Emergencia_tipo.Tipo">&nbsp;</span>{{alerta.Nombre}}</a>
      </li>
    </ul>
  </div>
</div>
<div class="row">

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading buscar">
        <form ng-submit="vm.buscar(vm.query)">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="vm.query" placeholder="Buscar">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
        <!--<button class="btn btn-default pull-right" ng-click="vm.avanzado=!vm.avanzado">
          Búsqueda Avanzada<i class="glyphicon" ng-class="vm.avanzado?'glyphicon-triangle-top':'glyphicon-triangle-bottom'"></i>
        </button>
        <br />
        <br />-->
        <div ng-class="vm.avanzado?'visible':'oculto'">
          <div ng-class="vm.avanzado?'opaco':'transparente'">
            <form class="form-group">
              <label>Contiene las palabras:</label>
              <input type="text" class="form-control" ng-model="vm.query" placeholder="Palabras separadas por espacio"/>
              <label>No contiene:</label>
              <input type="text" class="form-control"  placeholder="Palabras separadas por espacio"/>

              <label>Desde:</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input type="text" class="form-control" jqdatepicker ng-model="vm.fechaini"/>
              </div>
              <label>Hasta:</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input type="text" class="form-control" jqdatepicker ng-model="vm.fechafin"/>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="panel-body containerUsuarios">
        <div class="media usuarios" ng-repeat="user in vm.usuarios">
          <div class="media-left">
            <!--<img class="userImage" src="./images/user{{(($index)%6)+1}}.svg"/>-->
            <div class="avatar" style="{{user.style}}"><span class="initials">{{user._name.substring(0,1)}}</span></div>
          </div>
          <div class="media-body" ng-class="(vm.usuarioActual==$index)? 'actual':''">
            <h4 style="cursor:pointer;" ng-click="vm.armaConsulta(user)" class="media-heading">{{user._name}}</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="media usuarios">
          <div class="media-left"><img class="group" src="./images/grupo1.svg"/> </div>
          <div class="media-body"><h4 class="panel-title">{{vm.grupos[vm.grupoActual].nombre+(vm.querySend!=''?' : '+vm.querySend:'')}}</h4></div>
        </div>


      </div>
      <div id="mensajes" class="panel-body containerMensajes">

        <div ng-show="vm.vacio">
          <center><h2>No se encontraron mensajes</h2></center>
        </div>

        <div ng-show="!vm.vacio"  ng-repeat="mensaje in vm.mensajes track by $index">
          <div class="divisor" ng-show="mensaje.showDate"><center><span>{{mensaje.Datext}}</span></center></div>
          <div class="mensaje">

            <!--<span style="cursor:pointer" ng-click="vm.destacar(mensaje)" class="glyphicon" ng-class="(mensaje.destacado)? 'glyphicon-star':'glyphicon-star-empty'"></span>-->
            <span jtooltip class="hora"  title="{{mensaje.detalle}}">{{mensaje.Create_at | date:'HH:mm'}}</span>
            <div class="media col-sm-11 texto">
              <div class="media-left">
                <!--<img class="userImage" src="./images/user{{vm.buscarEnUsuarios(mensaje.User)}}.svg"/>-->
                <div class="avatar" style="{{vm.getUserStyle(mensaje.Usuarios_id)}}"><span class="initials">{{vm.getUsername(mensaje.Usuarios_id).substring(0,1)}}</span></div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{mensaje.User}}</h4>
                <div ng-bind-html="mensaje.Texto"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <center>
        <ul class="pagination paginador">
          <li ng-click="vm.paginador.anterior()" ng-class="vm.paginador.actual==1?'disabled':''"><a>Anterior</a></li>

          <li ng-repeat="i in vm.paginador.botones track by $index" ng-class="(vm.paginador.actual==i)? 'active':''" ng-click="vm.paginador.moverPagina(i)"><a>{{i}}</a> </li>

          <li ng-click="vm.paginador.siguiente()" ng-class="vm.paginador.actual==vm.paginador.paginas?'disabled':''"><a>Siguiente</a></li>
        </ul>
      </center>
    </div>

    <!--<div class="panel panel-default">
      <div class="panel-heading">Destacados</div>
      <div class="panel-body">
        <div ng-show="vm.destacados.length==0">
          <center><h2>No tienes mensajes destacados en esta conversación</h2></center>
        </div>
        <div ng-show="vm.destacados.length>0" class="mensaje" ng-repeat="mensaje in vm.destacados">
          <span style="cursor:pointer" ng-click="vm.destacar(mensaje)" class="glyphicon glyphicon-star"></span>
          <span class="hora">{{mensaje.Date | date:'HH:mm'}}</span>
          <div class="media col-sm-11 texto">
            <div class="media-left"><img class="userImage" src="./images/user{{(($index)%3)+1}}.svg"/></div>
            <div class="media-body">{{mensaje.User}} - {{mensaje.Text}}</div>
          </div>
        </div>

      </div>
    </div>-->


  </div>


</div>

</div>
