html, body, container-fluid{
  height:100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-seri;
}

a {
  color: #00B7FF;
}
#body{
  padding: 20px;
}
.volver{
  font-size: 1.5em;
  cursor: pointer;
}
.enviado{
  margin-left: 5px;
  font-weight: bold;
  color: #3384cb;
}
.visto{
  margin-left: 5px;
  font-weight: bold;
  color: #5bcb33;
}
.containerArchivos{
  overflow: auto;
  height: 250px;
}
.documentos{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.documento{
  padding: 5px;
  cursor: pointer;
}
.documento:hover{
  background-color: #aaa;
}
.selected{
  background-color: #abc;
}
.documento .extension{
  margin-right: 5px;
  margin-bottom: 5px;

  display: inline-block;
  width: 50px;
  text-align: center;
  border:2px solid #3381be;
  border-radius: 5px;
  padding: 5px;
}
.panel-documentos{
  border: 1px solid #b8af03;
}
.panel-documentos .panel-heading{
  background-image: linear-gradient(to bottom,#e4dc37 0,#b8af03 100%);
}

.barrasuperior{
  display: flex;
  width: 100%;
  padding: 15px 0px 15px 10px;
  align-items: center;
  justify-content:space-between;
  background-color: #2a5f8b;
  color: white;
  margin: 0px;
}
.barrasuperior h1, h2, h3{
  margin: 0px;
  margin-left: 9px;
}
.izquierda .nav{
  display: flex;
  align-items: center;
}

.paginador {
  user-select : none;
  cursor:pointer;
}
.main-color-bg{
  background-color: #1C395D;
}
.complementary-color-bg{
  background-color: #2F663F;
}

.slash{
  color:#286ad4;
}
.avatar{
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
}
.avatar .initials {
  position: relative;
  top: 10px; /* 25% of parent */
  font-size: 20px; /* 50% of parent */
  line-height: 20px; /* 50% of parent */
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

img.userImage{
  width: 40px;
  border-radius: 50%;
}

img.group{
  width: 40px;
  border-radius: 50%;
}

img.logo{
  margin-top: -10px;
}

.oculto {
  pointer-events:none;
  max-height: 0px;
  transition: max-height 1s;
}

.oculto .transparente{
  pointer-events:none;
  opacity: 0;
  transition-delay: 1s;
  transition: opacity 1s;
}

.visible{
  max-height: 300px;
  transition: max-height 1s;
}

.visible .opaco{
  opacity: 1;
  transition-delay: 1s;
  transition: opacity 1s;
}

.row-tabs{
  height: 50px;
}
.containerUsuarios{
  overflow: auto;
  height: 500px;
}
.containerMensajes{
  background-image: url("../images/swirl_pattern.png");
  background-repeat: repeat;
  overflow: auto;
  height: 500px;
}

.mensaje{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2px;
  user-select: none;
}


.mensaje .hora{
  display: block;
  width: 40px;
}

.mensaje .texto{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin-top:0px;
  padding-top:5px;
  padding-bottom:5px;
  background-color: #ffefbf;
  border-radius: 5px;
  border: 1px solid #daca9a;
}
.jtooltip{
  background-color: #333;
  border: none;
}
.jtooltip .jtooltip-content{
  color: #ccc;
}

.divisor{
  text-align: center;
  background: rgba(255,255,255,0.7);
}
.divisor span{
  display: block;
  width: 200px;
  background: white;
  border-radius: 2px;
  margin-top: 5px;
  padding: 5px;
}

.usuarios{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.actual{
background-image:  linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
  border-radius: 5px;
  color: white;
  padding: 5px;
}

footer{
  bottom: 0px;
  width: 100%;
  background-color: #6d6d6d;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
