<div class="barrasuperior">
  <div class="izquierda">
    <ul class="nav nav-pills">
      <li>
        <img width="50px" src="./images/Rimay temp.svg" />
      </li>
      <li>
        <h3>Panel de Diálogo</h3>
      </li>
    </ul>
  </div>

  <!--<div class="derecha">
    <ul class="nav nav-pills">
      <li>
        <a class="btn btn-barra" href="#"><i class="glyphicon glyphicon-envelope">&nbsp;</i>Contacto</a>
      </li>
    </ul>
  </div>-->
</div>
